# Ignore everything
*

# Allow the .gitignore file itself
!.gitignore

# Allow the ServerTrends directory
!ServerTrends/

# Allow the TrendsBackEnd directory and its contents
!ServerTrends/TrendsBackEnd/
!ServerTrends/TrendsBackEnd/**

# Allow the users directory and its contents
!ServerTrends/users/
!ServerTrends/users/**

!TrendsBackend/users/
!TrendsBackEnd/users/**

!TrendsBackEnd/TrendsBackEnd/
!TrendsBackEnd/TrendsBackEnd/**